.icon {
    border-radius: 50%;
}


.grid-container {
    background-color: rgb(121, 206, 206);
    width: 180px;
    justify-content: center;
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-rows: 30px 80px 100px 30px 70px;
    gap: 0px 0px;
    grid-template-areas:
        "searchbar searchbar"
        "location location"
        "icon temperature"
        "range feelsLike"
        "description description";    
}

.grid-container > div {
    border: 1px solid blue;
}

.location {
    grid-area: location;
}

.searchbar {
    grid-area: searchbar;
}

.icon {
    grid-area: icon;
}

.temperature {
    grid-area: temperature;
}

.description {
    grid-area: description;
}

.range {
    grid-area: range;
}

.feelsLike {
    grid-area: feelsLike;
}